<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>tellduscenter</string>
	<key>CFBundleExecutable</key>
	<string>TelldusCenter</string>
	<key>CFBundleIdentifier</key>
	<string>com.telldus.center</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Telldus Center</string>
	<key>CFBundleShortVersionString</key>
	<string>Telldus Center 1.3.0</string>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
</dict>
</plist>
