[Desktop Entry]
Name=TelldusCenter
Comment=A program to control and edit devices used by Telldus TellStick
Exec=TelldusCenter
Icon=tellduscenter
Terminal=false
Type=Application
Categories=Utility;
